@section head {
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
}

@section css {
	<link rel="stylesheet" type="text/css" href="~/css/index.css" asp-append-version="true" />
	<link rel="stylesheet" type="text/css" href="~/css/chats.css" asp-append-version="true" />
	<link rel="stylesheet" type="text/css" href="~/css/player.css" asp-append-version="true" />
}

@section scripts {
    <script src="~/external/colorpicker.js" asp-append-version="true"></script>

    <script src="~/js/index.js" asp-append-version="true"></script>
    <script src="~/js/chats.js" asp-append-version="true"></script>
    <script src="~/js/player.js" asp-append-version="true"></script>
}

<div id="mainDiv" class="center flexColumns">

    <div id="choosePlayerNameLabel" class="center hidden">
        Welcome to Picture Panels!
    </div>

    <div id="playerNameInputDiv" class="center hidden">
        <input id="playerNameInput" class="playerTextInput" type="text" maxlength="14" autocomplete="off" />

        <input id="gameStateId" class="playerTextInput gameStateId" type="text" maxlength="4" autocomplete="off" />
    </div>

    <div id="colorPicker" class="center hidden"></div>

    <div id="choosePlayerName" class="choosePlayerName center hidden">
        <input id="choosePlayerNameButton" class="center" type="button" value="Play!" onclick="choosePlayerNameButtonOnClickAsync()" />
    </div>

    <div id="playerHelp" class="playerHelp center hidden">
        To create a game and get a room code, go to https://www.picturepanels.net/gameboard on a screen that all players can see.<br />
    </div>

    <div id="chooseTeam" class="center hidden">
        Choose your team
    </div>

    <div id="playerBanner" class="playerBanner playerBannerChooseTeam center hidden">
        <div id="playerName" class="playerBannerItem playerName hidden"></div>
        <div id="playerBannerTeamNames" class="playerBannerItem">
            <div id="teamOneName" class="teamName chooseTeamName teamBox teamOneBox">Loading...</div>
            <div id="teamTwoName" class="teamName chooseTeamName teamBox teamTwoBox">Loading...</div>
            <div id="chooseSmallestTeam" class="teamName chooseTeamName chooseSmallestTeamBox">Choose for me</div>
        </div>
    </div>
    <div id="turnStatusMessage" class="turnStatusMessage center"></div>

    <div id="panelButtons" class="panelButtons center hidden"></div>

    <div id="teamGuesses" class="teamGuesses center hidden"></div>

    <div id="teamButtons" class="teamButtons">
        <div id="playerReadyButton" class="defaultButton playerReadyButton hidden">We are ready!</div>
        <div id="teamGuessButton" class="defaultButton teamGuessButton hidden">Guess</div>
    </div>
    <div id="playerReadyMessage" class="playerReadyMessage hidden"></div>

    <div id="chats" class="chats hidden"></div>

    <div id="chats_input" class="chatInputContainer hidden">
        <div class="chatInputText grow-wrap">
            <textarea id="chats_inputText" name="text" rows="1" maxlength="150"></textarea>
        </div>
        <div id="chats_send" class="defaultButton chatSendButton">Chat</div>
    </div>
</div>