@section css {
	<link rel="stylesheet" type="text/css" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/admin.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/chats.css" asp-append-version="true" />
}

@section scripts {
    <script src="~/js/admin.js" asp-append-version="true"></script>
    <script src="~/js/chats.js" asp-append-version="true"></script>
}

<div id="mainDiv">
    <div id="selectImageContainer">
        <input type="button" value="<" class="adminButton selectImageButton" onclick="selectPreviousImage()" />
        <select id="imageId" class=""></select>
        <input type="button" value=">" class="adminButton selectImageButton" onclick="selectNextImage()" />
    </div>

    <div id="goContainer" class="center hidden">
        <input type="button" value="Go" class="adminButton" onclick="patchGameState()" />
        <input type="button" value="Cancel" class="adminButton" onclick="cancelGo()" />
    </div>

    <div class="center">
        <span id="imageNumber">1/50</span>
        <select id="teamTurn" class="adminSelect adminTeamSelect">
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
        <select id="turnType" class="adminSelect">
            <option value="Welcome">Welcome</option>
            <option value="OpenTile">OpenTile</option>
            <option value="OpenFreeTile">OpenFreeTile</option>
            <option value="MakeGuess">MakeGuess</option>
            <option value="Correct">Correct</option>
            <option value="EndRound">EndRound</option>
        </select>
    </div>

    <div id="tileButtons" class="tileButtons center"></div>

    <div class="buttonsFlex turnButtons center">
        <input type="button" id="openTileButton" value="Open" class="adminButton" onclick="openTile()" />
        <input type="button" id="endRoundButton" value="End Round" class="adminButton" onclick="endRound()" />
        <input type="button" id="forceOpenTileButton" value="Force" class="adminButton" onclick="forceOpenTile()" />
        <input type="button" id="passButton" value="Pass" class="adminButton" onclick="passTurn()" />
        <input type="button" id="incorrectButton" value="Incorrect" class="adminButton" onclick="incorrect()" />
        <input type="button" id="correctButton" value="Correct" class="adminButton" onclick="correct()" />
    </div>

    <div class="buttonsFlex">
        <div name="roundNumber" class="plusMinus"></div>
        <div name="teamFirstTurn" class="plusMinus"></div>
    </div>

    <div class="buttonsFlex editTeamButtons center">
        <input type="button" id="editTeamOneButton" value="Edit Team 1" class="adminButton" onclick="editTeamOne()" />
        <input type="button" id="editTeamTwoButton" value="Edit Team 2" class="adminButton" onclick="editTeamTwo()" />
    </div>

    <div id="editTeamOne" class="center hidden">
        Score/Incorrect
        <div class="buttonsFlex">
            <div name="teamOneScore" class="plusMinus"></div>
            <div name="teamOneIncorrectGuesses" class="plusMinus"></div>
        </div>
        Inner/Outer
        <div class="buttonsFlex">
            <div name="teamOneInnerTiles" class="plusMinus"></div>
            <div name="teamOneOuterTiles" class="plusMinus"></div>
        </div>
    </div>

    <div id="editTeamTwo" class="center hidden">
        Score/Incorrect
        <div class="buttonsFlex">
            <div name="teamTwoScore" class="plusMinus"></div>
            <div name="teamTwoIncorrectGuesses" class="plusMinus"></div>
        </div>
        Inner/Outer
        <div class="buttonsFlex">
            <div name="teamTwoInnerTiles" class="plusMinus"></div>
            <div name="teamTwoOuterTiles" class="plusMinus"></div>
        </div>
    </div>

    <div class="center gameStatus">
        <div class="buttonsFlex">
            <span id="teamOneName" class="teamName teamOneColor"></span>
            <span id="teamTwoName" class="teamName teamTwoColor"></span>
        </div>
        <div class="buttonsFlex">
            <div class="flexItem"><span id="blobContainer"></span>/<span id="themeCss"></span></div>
        </div>
    </div>
</div>
<div id="chatsContainer" class="chatsContainer">
    <div id="chatsTeam1" class="chats"></div>

    <div id="chatsTeam1_input" class="chatInputContainer">
        <input id="chatsTeam1_inputText" type="text" class="chatInput" value="send a team message..." autocomplete="off" maxlength="280" />

        <img id="chatsTeam1_send" class="chatSend" src="img/sendimage.png" />
    </div>

    <div id="chatsTeam2" class="chats"></div>

    <div id="chatsTeam2_input" class="chatInputContainer">
        <input id="chatsTeam2_inputText" type="text" class="chatInput" value="send a team message..." autocomplete="off" maxlength="280" />

        <img id="chatsTeam2_send" class="chatSend" src="img/sendimage.png" />
    </div>
</div>

<div id="adminMenu" class="adminMenu"></div>