@section css {
	<link rel="stylesheet" type="text/css" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/chats.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/admin.css" asp-append-version="true" />
}

@section scripts {
    <script src="~/js/admin.js" asp-append-version="true"></script>
    <script src="~/js/chats.js" asp-append-version="true"></script>
}

<div id="mainDiv">
    <div id="selectImageContainer">
        <input type="button" value="<" class="adminButton selectImageButton" onclick="selectPreviousImage()" />
        <select id="imageId" class=""></select>
        <input type="button" value=">" class="adminButton selectImageButton" onclick="selectNextImage()" />
    </div>

    <div id="goContainer" class="center hidden">
        <input type="button" value="Go" class="adminButton" onclick="patchGameState()" />
        <input type="button" value="Cancel" class="adminButton" onclick="cancelGo()" />
    </div>

    <div class="center">
        <span id="imageNumber">1/50</span>
        <select id="teamTurn" class="adminSelect adminTeamSelect">
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
        <select id="turnType" class="adminSelect">
            <option value="Welcome">Welcome</option>
            <option value="OpenPanel">OpenPanel</option>
            <option value="MakeGuess">MakeGuess</option>
            <option value="GuessesMade">GuessesMade</option>
            <option value="EndRound">EndRound</option>
        </select>
    </div>

    <div id="panelButtons" class="panelButtons center"></div>

    <div class="buttonsFlex turnButtons center">
        <input type="button" id="openPanelButton" value="Open" class="adminButton" onclick="openPanel()" />
        <input type="button" id="endRoundButton" value="End Round" class="adminButton" onclick="endRound()" />
        <input type="button" id="nextTurnButton" value="Next" class="adminButton" onclick="nextTurn()" />
        <input type="button" id="forceOpenPanelButton" value="Force" class="adminButton" onclick="forceOpenPanel()" />
    </div>

    <div class="buttonsFlex">
        <div name="roundNumber" class="plusMinus"></div>
        <div name="teamFirstTurn" class="plusMinus"></div>
    </div>

    <div class="buttonsFlex editTeamButtons center">
        <input type="button" id="editTeamOneButton" value="Edit Team 1" class="adminButton" onclick="editTeamOne()" />
        <input type="button" id="editTeamTwoButton" value="Edit Team 2" class="adminButton" onclick="editTeamTwo()" />
    </div>

    <div id="editTeamOne" class="center hidden">
        Score/Incorrect
        <div class="buttonsFlex">
            <div name="teamOneScore" class="plusMinus"></div>
            <div name="teamOneIncorrectGuesses" class="plusMinus"></div>
        </div>
        Guesses/Panels
        <div class="buttonsFlex">
            <input type="button" id="teamOnePassButton" value="Pass" class="adminButton" onclick="teamPass(1)" />
            <input type="button" id="teamOneCorrectButton" value="Correct" class="adminButton" onclick="teamCorrect(1)" />
            <input type="button" id="teamOneIncorrectButton" value="Incorrect" class="adminButton" onclick="teamIncorrect(1)" />
            <div name="teamOneInnerPanels" class="plusMinus"></div>
        </div>
    </div>

    <div id="editTeamTwo" class="center hidden">
        Score/Incorrect
        <div class="buttonsFlex">
            <div name="teamTwoScore" class="plusMinus"></div>
            <div name="teamTwoIncorrectGuesses" class="plusMinus"></div>
        </div>
        Guesses/Panels
        <div class="buttonsFlex">
            <input type="button" id="teamTwoPassButton" value="Pass" class="adminButton" onclick="teamPass(2)" />
            <input type="button" id="teamTwoCorrectButton" value="Correct" class="adminButton" onclick="teamCorrect(2)" />
            <input type="button" id="teamTwoIncorrectButton" value="Incorrect" class="adminButton" onclick="teamIncorrect(2)" />
            <div name="teamTwoInnerPanels" class="plusMinus"></div>
        </div>
    </div>

    <div class="center gameStatus">
        <div class="buttonsFlex">
            <span id="teamOneName" class="teamName teamOneColor"></span>
            <span id="teamTwoName" class="teamName teamTwoColor"></span>
        </div>
        <div class="buttonsFlex">
            <div class="flexItem"><span id="blobContainer"></span>/<span id="themeCss"></span></div>
        </div>
    </div>
</div>
<div id="chatsContainer" class="chatsContainer">
    <div id="chatsTeam1" class="chats"></div>

    <div id="chatsTeam1_input" class="chatInputContainer">
        <input id="chatsTeam1_inputText" type="text" class="chatInputText" autocomplete="off" maxlength="280" />
        <input type ="button" id="chatsTeam1_send" class="defaultButton chatSendButton" value="Chat" />
    </div>

    <div id="chatsTeam2" class="chats"></div>

    <div id="chatsTeam2_input" class="chatInputContainer">
        <input id="chatsTeam2_inputText" type="text" class="chatInputText" autocomplete="off" maxlength="280" />
        <input type ="button" id="chatsTeam2_send" class="defaultButton chatSendButton" value="Chat" />
    </div>
</div>

<div id="adminMenu" class="adminMenu"></div>