@section css {
	<link rel="stylesheet" type="text/css" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/listimages.css" asp-append-version="true" />
}

@section scripts {
    <script src="~/js/index.js" asp-append-version="true"></script>
    <script src="~/js/listimages.js" asp-append-version="true"></script>
}

<div id="editImageMenu" class="editImageMenu hidden">
    <input type="hidden" id="imageId" />
    Name: <input type="text" id="imageName" /> <br />
    Uploaded By:<input type="text" id="uploadedBy" /> <br /><br />

    <input type="button" id="cancelSaveButton" value="Cancel" />
    <input type="button" id="saveButton" value="Save" />
</div>

<div id="imageContainer"></div>
