@section css {
    <link rel="stylesheet" type="text/css" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/listimages.css" asp-append-version="true" />
}

@section scripts {
    <script src="~/js/index.js" asp-append-version="true"></script>
    <script src="~/js/listimages.js" asp-append-version="true"></script>
}

<div id="editImageMenu" class="editImageMenu hidden">
    <input type="hidden" id="imageId" />
    Name: <input type="text" id="imageName" /> <br />
    Alt Name 1: <input type="text" id="imageAlternativeName1" /> <br />
    Alt Name 2: <input type="text" id="imageAlternativeName2" /> <br />
    Alt Name 3: <input type="text" id="imageAlternativeName3" /> <br />
    Tags: <input type="text" id="tagsInput" /> <br />
    IsHidden: <input type="checkbox" id="isHiddenInput" /> <br />

    <input type="button" id="cancelSaveButton" value="Cancel" />
    <input type="button" id="saveButton" value="Save" />
</div>

Search:
<input type="text" id="search" />&nbsp;&nbsp;
<input type="button" id="loadUserImages" value="Load" />&nbsp;&nbsp;
<input type="button" id="showAll" value="Show All" />

<div id="imageContainer"></div>
