@section css {
    <link rel="stylesheet" type="text/css" href="~/css/index.css" asp-append-version="true" />
}

@section scripts {
    <script src="~/js/index.js" asp-append-version="true"></script>
    <script src="~/js/tags.js" asp-append-version="true"></script>
}

<input type="button" id="rebuildbutton" value="Rebuild" />&nbsp;&nbsp;

<div id="tagCounts"></div>
