/* stylelint-disable selector-class-pattern */
.avatarNameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
  box-sizing: border-box;
}

.nameContainer {
  overflow: hidden;
  font-size: 1.4rem;
}
