@section css {
    <link href="https://unpkg.com/@@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/external/tagify.css" asp-append-version="true" />

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <link rel="stylesheet" type="text/css" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/gameboard.css" asp-append-version="true" />
}

@section scripts {
    <script src="https://unpkg.com/@@yaireo/tagify"></script>
    <script src="https://unpkg.com/@@yaireo/tagify@4.7.2/dist/tagify.polyfills.min.js"></script>

    <script src="~/js/index.js" asp-append-version="true"></script>
    <script src="~/js/gameboard.js" asp-append-version="true"></script>
}

<div id="welcome" class="welcomeContainer">
    <div id="welcomeStartGame" class="welcomeText welcomeStartGame">
        Welcome to Picture Panels!<br />
        <div id="welcomeCreateGameButton" class="center defaultButton welcomeButton">Create New Game</div>
        <div id="welcomeJoinGameButton" class="center defaultButton welcomeButton">Join Existing Game</div>

        <div type="button" class="center defaultButton welcomeButton" id="loginButton">Login</div>
    </div>

    <div id="welcomeCreateGame" class="welcomeText welcomeCreateGame hidden">
        <div id="welcomeCreateGameMessage" class="welcomeCreateGameMessage"></div>
        <div id="welcomeGameStateOptions" class="welcomeGameStateOptions hidden">
            <input id="welcomeGameStateTeamOneName" class="welcomeGameStateInput" autocomplete="off" maxlength="30" /><br />
            VS. <br />
            <input id="welcomeGameStateTeamTwoName" class="welcomeGameStateInput" autocomplete="off" maxlength="30" /><br /><br />

            Panel Voting Time:
            <select id="welcomeOpenPanelTime">
                <option value="15">15 seconds</option>
                <option value="30" selected="selected">30 seconds</option>
                <option value="45">45 seconds</option>
                <option value="60">60 seconds</option>
            </select>

            Guessing Time:
            <select id="welcomeGuessTime">
                <option value="60">1 minute</option>
                <option value="90">1.5 minute</option>
                <option value="120" selected="selected">2 minutes</option>
                <option value="150">2.5 minutes</option>
                <option value="180">3 minutes</option>
            </select>

            <div id="tagsInputContainer" class="tagsInputContainer center hidden">
                Tags: <input id="tagsInput" name="input-custom-dropdown" class="tagsInput" />
            </div>

        </div>
    </div>

    <div id="welcomeExistingGame" class="welcomeText welcomeExistingGame hidden">
        What is the game code? <br />
        <input id="gameStateIdInput" class="gameStateIdInput uppercase" maxlength="4" />
    </div>
    <div id="startGameButtons" class="startGameButtons center hidden">
        <div id="welcomeCancelButton" class="center defaultButton welcomeButton">Cancel</div>
        <div id="startGameButton" class="center defaultButton welcomeButton">Start Game</div>
    </div>
    <div id="welcomeErrorMessage" class="welcomeErrorMessage hidden"></div>
</div>

<div id="welcomeJoinGame" class="welcomeContainer hidden">
    <div class="welcomeText">
        Welcome to Picture Panels!<br />
        To join in, scan this QR code, or go to <a href="https://picturepanels.net/" target="_blank">https://picturepanels.net/</a>.
    </div>
    <div id="welcomeQRCode" class="welcomeQRCode">
        <img src="~/img/qrcode.svg" alt="Welcome QR Code" asp-append-version="true">
    </div>
    <div id="welcomeGameCode" class="welcomeGameCode">
        Game Code:
        <div id="welcomeGameStateId" class="welcomeGameStateId"></div>
    </div>
</div>

<div class="teamInfos">
    <div id="teamOneDiv" class="teamInfo teamNameBox activeTeam">
        <div id="teamOneCountdownDiv" class="teamInfo countdownDiv">
            <canvas id="teamOneCountdownCanvas" class="countdownCanvas"></canvas>
        </div>
        <div id="teamOneName" class="teamName">Team 1</div>
        <div id="teamOneInnerPanelsCount" class="teamInfoPanelCounts center"></div>
        <div id="teamOneIncorrectGuessesDiv" class="teamInfoIncorrectGuesses"></div>
        <div id="teamOneGuessText" class="teamGuess teamOneBox teamOneGuess hideIfEmpty animate__animated"></div>
    </div>
    <div class="teamBox teamOneBox teamInfo teamScore">
        <div id="teamOneScoreText">0</div>
        <div id="teamOneScoreChange" class="teamOneBox teamScoreChange hideIfEmpty animate__animated"></div>
    </div>
    <div id="teamStatus" class="teamInfo teamStatus"></div>
    <div class="teamBox teamTwoBox teamInfo teamScore">
        <div id="teamTwoScoreText">0</div>
        <div id="teamTwoScoreChange" class="teamTwoBox teamScoreChange hideIfEmpty animate__animated"></div>
    </div>
    <div id="teamTwoDiv" class="teamInfo teamNameBox">
        <div id="teamTwoCountdownDiv" class="teamInfo countdownDiv">
            <canvas id="teamTwoCountdownCanvas" class="countdownCanvas"></canvas>
        </div>
        <div id="teamTwoName" class="teamName">Team 2</div>
        <div id="teamTwoInnerPanelsCount" class="teamInfoPanelCounts center"></div>
        <div id="teamTwoIncorrectGuessesDiv" class="teamInfoIncorrectGuesses"></div>
        <div id="teamTwoGuessText" class="teamGuess teamTwoBox teamTwoGuess hideIfEmpty animate__animated"></div>
    </div>

</div>

<div id="roundNumberCorner" class="roundNumberCorner hidden">
    Round <span id="roundNumber"></span> of <span id="finalRoundNumber"></span>
</div>

<div class="roundNumberAnimateContainer fadedDisplayBox">
    <div id="roundNumberAnimate" class="fadedDisplayBoxTitle animate__hidden">
        <div id="roundNumberAnimateText"></div>
    </div>
</div>

<div class="remainingTurnTimeContainer fadedDisplayBox">
    <div id="remainingTurnTime" class="fadedDisplayBoxTitle animate__hidden">
        <span id="remainingTurnTimeText"></span>
        <span id="remainingTurnTimeTextSeconds"></span>
    </div>
</div>

<div id="teamOnePlayerNames" class="teamPlayerNames teamOnePlayerNames hideIfEmpty"></div>
<div id="teamTwoPlayerNames" class="teamPlayerNames teamTwoPlayerNames hideIfEmpty"></div>

<div class="uploadedByContainer fadedDisplayBox">
    <div id="uploadedBy" class="fadedDisplayBoxTitle animate__hidden">
        <div id="uploadedByText"></div>
    </div>
</div>

<div class="answerTitleContainer fadedDisplayBox">
    <div id="answerTitle" class="fadedDisplayBoxTitle animate__hidden">
        <div id="answerTitleText"></div>
    </div>
</div>

<div class="gameStateIdDisplayContainer fadedDisplayBox">
    <div id="gameStateIdDisplay" class="fadedDisplayBoxTitle animate__hidden">
        <div id="gameStateIdDisplayText"></div>
    </div>
</div>

<div id="panels" class="panels"></div>

<div id="mostVotesPanels" class="mostVotesPanels"></div>