@section css {
	<link rel="stylesheet" type="text/css" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/gameboard.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
}

@section scripts {
    <script src="~/js/gameboard.js" asp-append-version="true"></script>
}

<div id="welcome" class="welcomeContainer hidden">
    <div class="welcomeText">
        Welcome to the Picture Panels Game!<br />
        To join in, scan this QR code, or go to <a href="https://picturepanels.net/" target="_blank">https://picturepanels.net/</a>.
    </div>
    <div class="welcomeQRCode">
        <img src="~/img/qrcode.svg" alt="Welcome QR Code" asp-append-version="true">
    </div>
</div>

<div class="teamInfos">
    
    <div id="teamOneDiv" class="teamInfo teamNameBox activeTeam">
        <div id="teamOneCountdownDiv" class="teamInfo countdownDiv">
            <canvas id="teamOneCountdownCanvas" class="countdownCanvas"></canvas>
        </div>
        <div id="teamOneName" class="teamName">Team 1</div>
        <div id="teamOneInnerPanelsCount" class="teamInfoPanelCounts"></div>
        <div id="teamOneIncorrectGuessesDiv" class="teamInfoIncorrectGuesses"></div>
        <div class="teamGuess teamOneBox teamOneGuess">
            <div id="teamOneGuess"></div>
        </div>
    </div>
    <div class="teamBox teamOneBox teamInfo teamScore">
        <div id="teamOneScore">0</div>
        <div id="teamOneScoreChange" class="teamOneBox teamScoreChange teamScoreChangeHidden"></div>
    </div>
    <div id="teamStatus" class="teamInfo teamStatus"></div>
    <div class="teamBox teamTwoBox teamInfo teamScore">
        <div id="teamTwoScore">+2</div>
        <div id="teamTwoScoreChange" class="teamTwoBox teamScoreChange teamScoreChangeHidden"></div>
    </div>
    <div id="teamTwoDiv" class="teamInfo teamNameBox">
        <div id="teamTwoCountdownDiv" class="teamInfo countdownDiv">
            <canvas id="teamTwoCountdownCanvas" class="countdownCanvas"></canvas>
        </div>
        <div id="teamTwoName" class="teamName">Team 2</div>
        <div id="teamTwoInnerPanelsCount" class="teamInfoPanelCounts"></div>
        <div id="teamTwoIncorrectGuessesDiv" class="teamInfoIncorrectGuesses"></div>
        <div class="teamGuess teamTwoBox teamTwoGuess">
            <div id="teamTwoGuess"></div>
        </div>
    </div>

</div>
<div id="roundNumberDiv">
    Round <span id="roundNumber"></span>
</div>

<div id="teamOnePlayerNames" class="teamPlayerNames"></div>
<div id="teamTwoPlayerNames" class="teamPlayerNames"></div>

<div id="uploadedBy" class="uploadedBy hidden"></div>

<div id="answerTitle" class="answerTitle opacity0">
    <div class="answerTitleBackground">
        <div id="answerTitleText" class="answerTitleText"></div>
    </div>
</div>

<div id="panels" class="panels"></div>

<div id="mostVotesPanels" class="mostVotesPanels"></div>