/* stylelint-disable selector-class-pattern */
.makeGuessLabel {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 1.75rem;
}

.guess {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.makeGuessButtonContainer {
  margin-bottom: 2em;
}

.previousGuessesLabel {
  font-size: 1.1rem;
}

.confidenceLabel {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 1.75rem;
}

.confidenceRangeLabel {
  font-size: 1.1rem;
  display: flex;
}

.confidenceRangeLabel span {
  flex: 1;
}

.confidenceRange {
  width: 80%;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.confidenceMessageLabel {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.confidenceButtonsContainer {
  font-size: 1.4rem;
}

.confidenceButton {
  font-size: 1.4rem;
  margin: 0 1rem;
}

.makeGuessButton {
  margin: 0 1.5rem;
  font-size: 1.5rem;
}
