/* stylelint-disable selector-class-pattern */
.makeGuessLabel {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 1.75rem;
}

.guess {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.makeGuessButtonContainer {
  margin-bottom: 2em;
}

.previousGuessesLabel {
  font-size: 1.1rem;
}

.confidenceLabel {
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-size: 1.75rem;
}

.confidenceButton {
  width: 70%;
  margin-bottom: 1.4rem;
  font-size: 1.4rem;
}

.confidenceButtonCancel {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.makeGuessButton {
  margin: 0 1.5rem;
  font-size: 1.5rem;
}
