/* stylelint-disable selector-class-pattern */
.teamGuessesContainer {
  margin-top: 2rem;
}

.teamGuesses {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.teamGuessText {
  position: relative;
  cursor: pointer;
  user-select: none;
  display: inline-block;
  height: fit-content;
  overflow-wrap: break-word;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  max-width: 95%;
  font-size: 1.5rem;
  padding: 3px 10px;
  margin-bottom: 1em;
  border-radius: 10px;
  background-color: darkblue;
  border: 3px solid blue;
}

.teamGuessAdd {
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #101010;
  border: 3px dashed darkblue;
  width: 6em;
  white-space: nowrap;
}

.teamGuessPass {
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #101010;
  border: 3px solid #383838;
  font-style: italic;
  width: 6em;
}

.teamGuessDeleteButton {
  cursor: pointer;
  position: absolute;
  top: -1.25em;
  right: -1.25em;
  width: 2em;
  height: 2em;
}

.teamGuessDeleteButton img {
  position: absolute;
  top: 0.8em;
  left: 0.4em;
  width: 0.8em;
  height: 0.8em;
}

.teamGuessesMessage {
  flex: 1;
}

.teamGuessVoteCount {
  position: absolute;
  top: -0.9em;
  left: -1em;
  font-size: 1rem;
  font-style: normal;
  color: yellow;
  background-color: dodgerblue;
  padding: 1px 4px;
  border-radius: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

.teamGuessVoteCount::before {
  content: "\02606";
}

.teamGuessVoteCountChosen::before {
  content: "\02605";
}

.teamGuessVoteCount:empty {
  display: none;
}
