/* stylelint-disable declaration-block-no-duplicate-properties */
/* stylelint-disable property-no-vendor-prefix */
/* stylelint-disable selector-class-pattern */
.animate__animated.animate__delay-6s {
  -webkit-animation-delay: calc(1s * 6);
  animation-delay: calc(1s * 6);
  -webkit-animation-delay: calc(var(--animate-delay) * 6);
  animation-delay: calc(var(--animate-delay) * 6);
}

.animate__animated.animate__delay-7s {
  -webkit-animation-delay: calc(1s * 7);
  animation-delay: calc(1s * 7);
  -webkit-animation-delay: calc(var(--animate-delay) * 7);
  animation-delay: calc(var(--animate-delay) * 7);
}

.animate__animated.animate__delay-8s {
  -webkit-animation-delay: calc(1s * 8);
  animation-delay: calc(1s * 8);
  -webkit-animation-delay: calc(var(--animate-delay) * 8);
  animation-delay: calc(var(--animate-delay) * 8);
}

.animate__animated.animate__delay-9s {
  -webkit-animation-delay: calc(1s * 9);
  animation-delay: calc(1s * 9);
  -webkit-animation-delay: calc(var(--animate-delay) * 9);
  animation-delay: calc(var(--animate-delay) * 9);
}

.animate__animated.animate__delay-10s {
  -webkit-animation-delay: calc(1s * 10);
  animation-delay: calc(1s * 10);
  -webkit-animation-delay: calc(var(--animate-delay) * 10);
  animation-delay: calc(var(--animate-delay) * 10);
}
