/* stylelint-disable selector-class-pattern */
.chooseImageContainer {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.chooseImageInstructions {
  width: 60%;
  text-align: center;
  font-size: 1.25rem;
  margin: 2vh auto;
  margin-bottom: 3vh;
}

.chooseImageButton {
  padding: 1px 5px;
  background-color: deepskyblue;
  border: 3px solid dodgerblue;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
}

.imageFile {
  position: absolute;
}

.imageFile:disabled + label {
  background-color: grey;
  border: 3px solid #444;
  cursor: unset;
}
