/* stylelint-disable selector-class-pattern */
.cropperInstructions {
  font-size: 1.5rem;
  text-align: center;
}

.cropperContainer {
  width: 100%;
  height: 80vh;
}

.cropperImage {
  display: none;
  object-fit: contain;
  width: 100%;
}

.croppedImageInfoContainer {
  margin-bottom: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  font-size: 1.5rem;
}

.aspectRatioContainer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.aspectRatioButton {
  padding: 0.1rem;
}

.cropperButtons {
  height: 8vh;
  display: flex;
  gap: 1vw;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.cropperButton {
  font-size: 1.25rem;
}

.imageError {
  color: lightcoral;
}
