/* stylelint-disable selector-class-pattern */
/* stylelint-disable selector-id-pattern */
.uploadContainer {
  display: flex;
}

.uploadSidePanel {
  width: 30vw;
  height: 100vh;
}

.uploadMainPanel {
  width: 70vw;
}

.uploadTitle {
  width: 100%;
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.uploadStepInstructions {
  font-size: 1.5rem;
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
