/* stylelint-disable selector-class-pattern */
.uploadLoginMessage {
  margin-bottom: 2vh;
  font-size: 1.5rem;
}

.uploadLoginButtonsContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.uploadLoginContainer {
  margin-bottom: 2vh;
}
