/* stylelint-disable selector-class-pattern */
/* stylelint-disable selector-id-pattern */
.uploadContainer {
  display: flex;
  gap: 1vw;
}

.uploadSidePanel {
  width: 30vw;
  height: 100vh;
}

.uploadMainPanel {
  width: 68vw;
}

.uploadTitle {
  width: 100%;
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.uploadStepInstructions {
  font-size: 3vmin;
  margin-bottom: 2vh;
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.uploadLoadingToast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  font-size: 3rem;
  text-align: center;
  padding: 1vh 1.5vw;
  white-space: nowrap;
  width: unset;
  border: 0.6rem solid dodgerblue;
  box-sizing: border-box;
}

.uploadButtonsContainer {
  height: 8vh;
  display: flex;
  gap: 1vw;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.uploadButton {
  font-size: 1.25rem;
}
