/* stylelint-disable selector-class-pattern */
/* stylelint-disable selector-id-pattern */
.uploadContainer {
  display: flex;
  gap: 1vw;
}

.uploadSidePanel {
  width: 30vw;
  height: 100vh;
}

.uploadMainPanel {
  width: 68vw;
}

.uploadTitle {
  width: 100%;
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.uploadStepInstructions {
  font-size: 2rem;
  margin-bottom: 2vh;
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
