/* stylelint-disable selector-class-pattern */
.thumbnailsContainer {
  display: flex;
  flex-wrap: wrap;
}

.thumbnailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vh;
  width: 20%;
  box-sizing: border-box;
  cursor: pointer;
}

.thumbnailContainerSaving {
  border: 3px solid pink;
}

.thumbnail {
  object-fit: contain;
  object-position: top;
  width: 100%;
}

.imageTags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5vw;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
}
