.activeTeam {
    border: 4px solid lightgreen;
}

.tile:nth-child(even) .tileBackground {
    background: #8D602D;
}

.tile:nth-child(odd) .tileBackground {
    background: #1F4699;
}

.tileButton .tileButtonBackground {
    border: 3px solid black;
}

.tileButton:nth-child(even) .tileButtonBackground {
    background-color: #f3e6d8;
}

.tileButton:nth-child(odd) .tileButtonBackground {
    background-color: #d5dff6;
}

.tileButtonSelected:nth-child(even) .tileButtonBackground {
    border: 3px solid white;
    background-color: dodgerblue;
}

.tileButtonSelected:nth-child(odd) .tileButtonBackground {
    border: 3px solid white;
    background-color: dodgerblue;
}

.mostVotesTile {
    box-shadow: 0 0 0 .25vw green;
    outline: dashed .25vw lightblue;
}

.teamOneBox {
    border: 5px solid blue;
    background-color: darkblue;
}

.teamTwoBox {
    border: 5px solid red;
    background-color: darkred;
}

.teamOneColor {
    color: blue;
}

.teamTwoColor {
    color: red;
}

#teamOnePlayerNames div {
    background-color: darkblue;
}

#teamTwoPlayerNames div {
    background-color: darkred;
}

#teamOnePlayerNames .teamPlayerNameCaptain {
    outline: dashed 2px lightblue;
}

#teamTwoPlayerNames .teamPlayerNameCaptain {
    outline: dashed 2px pink;
}

@keyframes correct {
    0% {
        color: lightgreen;
    }

    50% {
        color: orange;
    }

    100% {
        color: mediumpurple;
    }
}
