@font-face {
    font-family: valentines;
    src: url(/fonts/VanessasValentine.ttf);
}

.panelNumber {
    font-family: valentines;
    letter-spacing: 6px;
}

.activeTeam {
    border: 4px dashed pink;
}

.panel:nth-child(3n) .panelBackground {
    background: #FFB6C1;
}

.panel:nth-child(3n) .panelNumber {
    color: black;
}

.panel:nth-child(3n + 1) .panelBackground {
    background: #FF69B4;
}

.panel:nth-child(3n + 2) .panelBackground {
    background: red;
}

.panelButtonNumber {
    color: black;
}

.panelButton .panelButtonBackground {
    border: 3px solid black;
}

.panelButtonSelected .panelButtonBackground {
    border: 3px solid white;
}

.panelButton:nth-child(3n) .panelButtonBackground {
    background: #FFB6C1;
}

.panelButton:nth-child(3n + 1) .panelButtonBackground {
    background: #FF69B4;
    color: white;
}

.panelButton:nth-child(3n + 1) .panelButtonBackground {
    color: white;
}

.panelButton:nth-child(3n + 2) .panelButtonBackground {
    background: red;
}

.panelButton:nth-child(3n + 2) .panelButtonBackground {
    color: white;
}

.mostVotesPanel {
    box-shadow: 0 0 0 .25vw red;
    outline: dashed .25vw white;
}

.teamOneBox {
    border: 5px solid #FF00FF;
    background-color: #8B008B;
}

.teamTwoBox {
    border: 5px solid red;
    background-color: darkred;
}

.teamOneColor {
    color: #FF00FF;
}

.teamTwoColor {
    color: red;
}

#teamOnePlayerNames div {
    background-color: #8B008B;
}

#teamTwoPlayerNames div {
    background-color: darkred;
}

@keyframes correct {
    0% {
        color: white;
    }

    50% {
        color: #FFB6C1;
    }

    100% {
        color: #FF69B4;
    }
}
