/* stylelint-disable selector-class-pattern */
.startGameContainer {
  padding: 2vh 2vw;
  font-size: 3vh;
  position: absolute;
  width: 66vw;
  top: 15vh;
  left: 17vw;
  background-color: rgba(0 0 0 / 90%);
  z-index: 900;
  text-align: center;
  box-sizing: border-box;
  border: 4px solid grey;
}

.startGameLabel {
  margin-bottom: 2vh;
}

.startGameButton {
  width: 12vw;
  font-size: 3vh;
}

.loginContainer {
  font-size: 2.5vh;
  width: 60%;
  margin-bottom: 3vh;
}

.startGameCreateButton {
  margin-bottom: 4vh;
}

.startGameJoinButton {
  margin-bottom: 5vh;
}
