/* stylelint-disable selector-class-pattern */
.chooseTeamLabel {
  font-size: 1.75em;
  margin-top: 1em;
  margin-bottom: 2em;
  display: flex;
  vertical-align: middle;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.chooseTeamName {
  width: 50%;
  font-size: 2em;
  padding: 4px;
  margin-bottom: 2em;
  cursor: pointer;
}

.chooseSmallestTeamBox {
  margin-top: 4em;
  color: black;
  background-color: white;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  border: 5px solid grey;
}
