/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable selector-class-pattern */
/* stylelint-disable selector-id-pattern */
body.player {
  -webkit-overflow-scrolling: touch !important;
  overflow: auto !important;
}

#choosePlayerNameLabel {
  flex: 0 0 auto;
  margin-top: 0.5rem;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 0.8em;
}

#playerNameInputDiv {
  flex: 0 0 auto;
  vertical-align: middle;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  border: 3px solid black;
}

.choosePlayerName {
  flex: 0 0 auto;
  margin-top: 2rem;
}

.playerHelp {
  font-size: 1rem;
  margin-top: 1rem;
  color: white;
  flex: 1;
  width: 95%;
}

#choosePlayerNameButton {
  font-size: 1.5em;
  width: 100%;
  flex: 1;
}

.playerTextInput {
  margin-top: 0.75rem;
  caret-color: white;
  background-color: black;
  font-size: 1em;
  width: 75%;
  text-align: center;
}

.gameStateId {
  width: 60%;
}

.playerBannerFlex {
  display: flex;
}

.teamName {
  overflow: hidden;
  font-size: 0.8em;
  user-select: none;
}

.playerName {
  overflow: hidden;
  white-space: nowrap;
  flex-grow: 1;
  flex-basis: 0;
  font-size: 0.8em;
  user-select: none;
}

#playerBannerTeamNames {
  overflow: hidden;
  white-space: nowrap;
  flex-grow: 1;
  flex-basis: 0;
}

#chooseTeam {
  flex-grow: 1;
  display: flex;
  vertical-align: middle;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.chooseTeamName {
  flex-grow: 1;
  padding: 4px;
  margin-bottom: 2em;
  cursor: pointer;
}

.chooseSmallestTeamBox {
  margin-top: 4em;
  color: black;
  background-color: white;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  border: 5px solid grey;
}

.playerBanner {
  width: 100vw;
  display: flex;
}

#playerBannerItem {
  flex-grow: 1;
}

.playerBannerChooseTeam {
  flex-grow: 3;
  flex-direction: column;
  width: 70%;
}

.playerBannerChooseTeam .playerBannerItem {
  margin-bottom: 2em;
  height: 2em;
}

.playerBannerPlaying {
  cursor: pointer;
  flex: 0 0 auto;
  padding: 2px 0;
}

.turnStatusMessage {
  position: fixed;
  padding: 2px;
  top: 0;
  user-select: none;
  font-size: 0.8em;
  z-index: 20;
  background-color: black;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  flex-direction: column;
}

.turnStatusMessageHighlight {
  animation: highlightTurnStatus 2s alternate;
  animation-iteration-count: 4;
  animation-fill-mode: both;
}

.turnStatusMessageCorrect {
  animation: correct 3s infinite alternate;
}

.teamButtons {
  margin-bottom: 0.5rem;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
}

.teamGuessButton {
  background-color: lightgreen;
  margin-left: 1.5rem;
}

.playerReadyButton {
  position: relative;
  background-color: lightgreen;
}

.confirmReady {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.playerNameConfirm {
  background-color: black;
  padding: 2px 3px;
  border-radius: 8px;
}

.modal-title {
  color: black;
}

.bootbox-body {
  color: black;
  font-size: 1rem;
}

@keyframes highlightTurnStatus {
  0% {
    color: white;
  }

  100% {
    color: greenyellow;
  }
}

@media only screen and (min-width: 1000px) {
  #mainDiv {
    width: 50vw;
  }

  .playerBanner {
    width: 50vw;
  }

  .turnStatusMessage {
    width: 50vw;
  }

  .chat img {
    max-width: 40vw;
  }

  .panelButtons {
    width: 48vw;
  }

  .panelButton {
    font-size: 1.1em;
  }

  .panelImages {
    width: 48vw;
  }
}
