/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable selector-class-pattern */
html,
body.player {
  -webkit-overflow-scrolling: touch !important;
  overflow: auto !important;
  height: 100% !important;
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #000;
}

body.player #root {
  text-align: center;
  margin: auto;
  height: 100%;
}

.playerLabel {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.playingContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.toast-container {
  margin-top: 5px;
}

.toast-body {
  font-size: 1.3rem;
  user-select: none;
}

.panelButtonsVoteButton {
  margin-top: 0.75rem;
  font-size: 1.2rem;
}

.modal-header {
  color: black;
  font-size: 1.4rem;
}

.bootbox-body {
  color: black;
  font-size: 1rem;
}

@media only screen and (min-width: 1000px) {
  .playerSettingsButton {
    right: 25vw;
  }

  body.player #root {
    width: 50vw;
  }

  .playerBanner {
    width: 50vw;
  }

  .turnStatusMessage {
    width: 50vw;
  }

  .chat img {
    max-width: 40vw;
  }
}
