<div id="loggedInUser" class="loggedInUser hidden">
    <div id="displayName" class="loggedInUserDisplayName"></div>

    <div>
        <input type="button" id="editUserButton" value="Edit user" class="loggedInUserButton" />
    </div>
    <div>
        <input type="button" id="logoutButton" value="Logout" class="loggedInUserButton" />
    </div>
</div>
