.chats {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: visible;
    overflow-x: hidden;
    box-sizing: border-box;
}

.chatsHighlight {
    border: 3px solid dodgerblue;
}

.chat {
    box-sizing: border-box;
    overflow-wrap: break-word;
    margin-left: 1vw;
    margin-right: auto;
    margin-bottom: 4px;
    font-size: .5em;
    max-width: 70%;
    padding: 4px 10px 4px 10px;
    border-radius: 15px;
    text-align: left;
}

.systemChat {
    background-color: rgb(60, 60, 60);
    max-width: 90%;
    font-style: italic;
    color: skyblue;
    border: 2px solid dodgerblue;
}

.othersChat {
    background-color: rgb(60, 60, 60);
}

.selfChat {
    margin-left: auto;
    margin-right: 1vw;
    background-color: rgb(63, 81, 181);
    border-radius: 15px;
}

.adminPlayerName::after {
    color: #ff3333;
    font-style: italic;
    content: " (admin)";
}

.chatInputContainer {
    flex: 0 0 auto;
    width: 100vw;
    display: flex;
    margin-top: 5px;
    margin-bottom: 3px;
}

.chatInputText {
    font-size: .7em;
    text-align: left;
    border-radius: 15px;
    padding: 3px 10px 3px 10px;
    margin: 3px;
    flex: 1;
    width: 0;
}

.chatSendButton {
    flex: none;
}

.chat img {
    object-fit: contain;
    width: 100%;
}

.ellipsis {
    position: relative;
    animation: ellipsis 1s infinite;
    font-weight: bold;
}

.ellipsis1 {
    animation-delay: 0s;
}

.ellipsis2 {
    animation-delay: .1s;
}

.ellipsis3 {
    animation-delay: .2s;
}

@keyframes ellipsis {
    0% {
        top: 0;
    }

    20% {
        top: -15%;
    }

    40% {
        top: 0;
    }

    100% {
        top: 0;
    }
}

@media only screen and (min-width: 1000px) {
    .chat {
        font-size: .55em;
    }

    .chatInputContainer {
        width: 50vw;
    }

    .chatInputTextContainer {
        width: 85%;
    }
}
