body {
    color: white;
    background-color: black;
    overflow: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

#blackcover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    margin: 0;
    padding: 0;
    z-index: 1000;
    font-size: 3em;
    vertical-align: middle;
    text-align: center;
}

.welcomeContainer {
    padding: .5em;
    font-size: 3vh;
    position: absolute;
    width: 50vw;
    height: 60vh;
    top: 20vh;
    left: 25vw;
    background-color: black;
    z-index: 900;
    text-align: center;
    opacity: .9;
    box-sizing: border-box;
    border: 4px solid grey;
}

.welcomeStartGame {
    font-size: 4vh;
    margin-top: 2vh;
}

.welcomeText a {
    color: skyblue;
    text-decoration: none;
}

.welcomeQRCode img {
    margin-top: 2vh;
    height: 25vh;
}

.welcomeGameCode {
    margin-top: 2vh;
    font-size: 3.5vh;
}

.welcomeGameStateId {
    font-size: 7vh;
}

.welcomeButton {
    margin-top: 3vh;
    font-size: 3vh;
    width: 15vw;
}

.gameStateIdInput {
    margin-top: 3vh;
    font-size: 4vh;
    width: 10vw;
    text-align: center;
}

.welcomeGameStateInput {
    text-align: center;
}

.welcomeGameStateOptions {
    margin-top: 2vh;
}

.startGameButtons {
    display: flex;
    width: 80%;
}

.tagsInputContainer {
    margin-top: 2vh;
}

.teamInfos {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 80%;
    height: 7vh;
}

.teamInfo {
    position: relative;
    box-sizing: border-box;
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
}

.teamInfoIncorrectGuesses {
    position: absolute;
    bottom: 0;
    color: red;
    font-size: 2.5vh;
    font-weight: bold;
}

#teamOneDiv .teamInfoIncorrectGuesses {
    left: 4px;
}

#teamTwoDiv .teamInfoIncorrectGuesses {
    right: 4px;
}

.teamInfoPanelCounts {
    width: 50%;
    height: 35%;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
}

.teamInfoPanelCounts div {
    box-sizing: border-box;
    width: 15%;
    border-width: 3px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 3px;
}

.teamNameBox {
    box-sizing: border-box;
    flex: 6;
    background-color: rgb(35, 35, 35);
    border: 4px solid rgb(35, 35, 35);
    height: 100%;
}

.teamStatus {
    position: relative;
    flex: 3;
    overflow: hidden;
    white-space: nowrap;
    font-size: 3.25vh;
    vertical-align: middle;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teamName {
    white-space: nowrap;
    overflow: hidden;
    font-size: 3vh;
    height: 1em;
    line-height: 1em;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
}

.teamScore {
    position: relative;
    box-sizing: border-box;
    flex: 1;
    vertical-align: middle;
    font-size: 5.5vh;
    height: 7vh;
    line-height: 5.5vh;
    width: 100%;
}

.teamScoreChange {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    top: 7.5vh;
    z-index: 100;
    font-size: 4vh;
    line-height: normal;
}

.teamGuess {
    position: absolute;
    box-sizing: border-box;
    padding: 3px;
    width: 100%;
    top: 7.5vh;
    font-weight: 500;
    font-size: 4vh;
    line-height: normal;
    z-index: 100;
    text-align: center;
}

.teamGuess span {
    position: relative;
    opacity: 0;
    animation: move-text 0.75s forwards;
}

.teamGuessIncorrect {
    text-decoration-style: wavy;
    text-decoration-color: red;
    text-decoration-line: line-through;
    text-decoration-thickness: 3px;
}

@keyframes move-text {
    0% {
        bottom: -0.1em;
        opacity: .25;
    }

    50% {
        bottom: 0.1em;
        opacity: 1;
    }

    100% {
        bottom: 0;
        opacity: 1;
    }
}

.panelCount {
    font-size: 2.5vh;
    line-height: .9em;
}

.panelCount div {
    display: inline;
}

.teamPlayerNames {
    position: absolute;
    top: 8vh;
    font-size: 2.5vh;
}

.teamOnePlayerNames {
    text-align: left;
    left: .5vh;
}

.teamTwoPlayerNames {
    text-align: right;
    right: .5vw;
}

.teamPlayerNames div {
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    border: .15vw solid black;
}

.teamOnePlayerNames div {
    padding-left: 3px;
}

.teamTwoPlayerNames div {
    padding-right: 3px;
}

.welcomePlayerNames {
    top: 20vh;
    display: flex;
    flex-wrap: wrap;
    width: 20vw;
    justify-content: center;
    background-color: black;
    z-index: 900;
    opacity: .9;
    box-sizing: border-box;
    border: 4px solid grey;
    padding-top: 1vh;
}

.welcomePlayerNames.teamOnePlayerNames {
    left: 5vh;
}

.welcomePlayerNames.teamTwoPlayerNames {
    right: 5vh;
}

.welcomePlayerNames div {
    display: flex;
    flex-wrap: wrap;
    margin-left: .5vw;
    margin-right: .5vw;
    margin-bottom: 1vh;
    justify-content: center;
    padding-left: 0px;
}

.teamPlayerName {
    width: 7vw;
    white-space: nowrap;
    height: 1.45em;
    line-height: 1.1em;
    margin-bottom: 3px;
    z-index: 1;
    box-sizing: border-box;
    transition: opacity .5s;
}

.imageContainer {
    text-align: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 1vh;
    max-width: 83vw;
    max-height: 91vh;
    text-align: center;
    overflow: hidden;
}

.imageContainer img {
    object-fit: contain;
    object-position: 50% 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.panels {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    width: 83vw;
    display: flex;
    flex-wrap: wrap;
}

.panel {
    position: relative;
    box-sizing: border-box;
    width: 20%;
    display: flex;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 30;
}

.panel .panelBackground {
    position: absolute;
    border: 2px solid black;
    font-size: 1em;
    user-select: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: opacity 2s;
    z-index: 20;
}

.panelNumber {
    position: relative;
    font-size: 10vh;
    user-select: none;
}

.panel .panelImage {
    position: relative;
    z-index: 10;
    width: 100%;
    vertical-align: bottom;
}

.mostVotesPanel {
    position: absolute;
    transition: opacity 1s, transform 1s;
}

.mostVotesPanel .panelImage {
    position: relative;
    width: 100%;
    vertical-align: bottom;
    z-index: 10;
}

.playerDot {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 1s, transform 1s;
}

.playerDot svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.playerDot svg circle {
    width: 100%;
    height: 100%;
}

.playerDot div {
    position: relative;
    color: black;
    text-align: center;
    font-size: 2.5vh;
    margin: auto;
    vertical-align: middle;
}

.uploadedByContainer {
    font-size: 3vh;
    bottom: 1vh;
    right: .5vw;
}

.roundNumberAnimateContainer {
    font-size: 10vh;
    top: 45vh;
    width: 100%;
}

.answerTitleContainer {
    font-size: 6vh;
    top: 18vh;
    width: 100%;
}

.remainingTurnTimeContainer {
    font-size: 4vh;
    bottom: 12vh;
    right: 10vw;
}

.gameStateIdDisplayContainer {
    font-size: 3vh;
    bottom: 1vh;
    left: .5vw;
}

.fadedDisplayBox {
    position: absolute;
    z-index: 1000;
    white-space: nowrap;
    text-align: center;
}

.fadedDisplayBox .fadedDisplayBoxTitle {
    display: inline-block;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    border: 3px solid rgba(50, 50, 50, 1);
    padding: .1em .3em .1em .3em;
}

.fadedDisplayBoxTitle * {
    opacity: 1;
}

.roundNumberCorner {
    position: fixed;
    white-space: nowrap;
    right: 1.5vw;
    top: 1.5vh;
    text-align: center;
    vertical-align: middle;
    font-size: 2.75vh;
}

.countdownDiv {
    position: absolute;
    height: 100%;
    margin: 0;
    top: 0;
}

#teamOneDiv .countdownDiv {
    right: 0;
}

#teamTwoDiv .countdownDiv {
    left: 0;
}

.countdownDiv canvas {
    height: 100%;
}

#countdown-number {
    color: white;
    display: none;
}

#countdown svg {
    position: absolute;
    top: 0;
    right: 0;
    transform: rotateY(-180deg) rotateZ(-90deg);
}

#teamOneCountdownDiv svg {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(-180deg) rotateZ(-90deg);
}

#teamTwoCountdownDiv svg {
    position: absolute;
    top: 0;
    right: 0;
    transform: rotateY(-180deg) rotateZ(-90deg);
}

#countdown svg circle {
    stroke-dasharray: 113px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 3px;
    stroke: white;
    fill: none;
    animation: countdown 60s linear forwards;
}

@keyframes countdown {
    from {
        stroke-dashoffset: 0px;
    }

    to {
        stroke-dashoffset: 60px;
    }
}