html, body {
    -webkit-overflow-scrolling: touch !important;
    overflow: auto !important;
    height: 100% !important;
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}

body {
    font-size: 2em;
}

#choosePlayerNameLabel {
    flex: 1;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: .75em;
}

#playerNameInputDiv {
    width: 75%;
    flex: .5;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    border: 3px solid black;
}

.playerNameInputDivInvalid {
    border: 3px solid red !important;
}

#colorPicker {
    flex: 2;
}

#choosePlayerName {
    flex: 1;
}

#choosePlayerNameButton {
    font-size: 2em;
    width: 100%;
    flex: 1;
}

.playerNameInput {
    caret-color: white;
    background-color: black;
    font-size: 1em;
    width: 100%;
    text-align: center;
}

.playerBannerFlex {
    display: flex;
}

.teamName {
    overflow: hidden;
    font-size: .8em;
    user-select: none;
}

.playerName {
    overflow: hidden;
    white-space: nowrap;
    flex-grow: 1;
    flex-basis: 0;
    font-size: .8em;
    user-select: none;
}

#playerBannerTeamNames {
    overflow: hidden;
    white-space: nowrap;
    flex-grow: 1;
    flex-basis: 0;
}

#chooseTeam {
    flex-grow: 1;
    display: flex;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.chooseTeamName {
    flex-grow: 1;
    padding: 4px;
    margin-bottom: 2em;
    cursor: pointer;
}

.chooseSmallestTeamBox {
    margin-top: 4em;
    color: black;
    background-color: white;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    border: 5px solid grey;
}

.playerBanner {
    width: 100vw;
    display: flex;
}

#playerBannerItem {
    flex-grow: 1;
}

.playerBannerChooseTeam {
    flex-grow: 3;
    flex-direction: column;
    width: 70%;
}

.playerBannerChooseTeam .playerBannerItem {
    margin-bottom: 2em;
    height: 2em;
}

.playerBannerPlaying {
    cursor: pointer;
    flex: 0 0 auto;
    padding: 2px 0 2px 0;
}

.turnStatusMessage {
    position: fixed;
    padding: 2px;
    top: 0;
    user-select: none;
    font-size: .8em;
    z-index: 20;
    background-color: black;
    opacity: 0;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    flex-direction: column;
    transition: opacity 1s;
}

.turnStatusMessageVisible {
    opacity: 1;
}

.turnStatusMessageHighlight {
    animation: highlightTurnStatus 2s alternate;
    animation-iteration-count: 4;
    animation-fill-mode: both;
}

.turnStatusMessageCorrect {
    animation: correct 3s infinite alternate;
}

.teamGuessesContainer {
    margin-top: .5em;
    width: 100%;
}

.teamGuessesInputContainer {
    margin-top: .5em;
    width: 100%;
    display: flex;
}

.teamGuesses {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.teamGuesses .teamGuessText {
    position: relative;
    cursor: pointer;
    display: inline-block;
    height: fit-content;
    overflow-wrap: break-word;
    margin-left: .5em;
    margin-right: .5em;
    max-width: 95%;
    font-size: .7em;
    padding: 4px 7px 4px 7px;
    margin-bottom: .7em;
    border-radius: 10px;
}

.teamGuessDeleteButton {
    cursor: pointer;
    position: absolute;
    top: -1em;
    right: -1em;
    width: 2em;
    height: 2em;
    justify-content: center;
    vertical-align: middle;
}

.teamGuessDeleteButton img {
    position: absolute;
    top: .6em;
    left: .6em;
    width: .8em;
    height: .8em;
}

.teamGuessesMessage {
    flex: 1;
}

.teamReadyButton {
    background-color: lightgreen;
    flex: none;
}

.teamGuessButton {
    background-color: lightgreen;
    flex: none;
}

.teamGuessVoteCount {
    position: absolute;
    top: -.8em;
    left: -.6em;
    font-size: .8em;
    color: yellow;
    background-color: dodgerblue;
    padding: 0px 3px 2px 3px;
    border-radius: 10px;
}

.teamGuessVoteCount:before {
    content: "\02606";
}

.teamGuessVoteCountChosen:before {
    content: "\02605";
}

.teamGuessVoteCount:empty {
    display: none;
}

@keyframes highlightTurnStatus {
    0% {
        color: white;
    }

    100% {
        color: greenyellow;
    }
}

@media only screen and (min-width: 1000px) {
    #mainDiv {
        width: 50vw;
    }

    .playerBanner {
        width: 50vw;
    }

    .turnStatusMessage {
        width: 50vw;
    }

    .chat img {
        max-width: 40vw;
    }

    .panelButtons {
        width: 48vw;
    }

    .panelButton {
        font-size: 1.1em;
    }

    .panelImages {
        width: 48vw;
    }
}
