/* stylelint-disable selector-class-pattern */
.spinAnimation {
  transform: rotate(360deg);
  transition: transform 0.25s linear;
}

.flipAnimation {
  transition: 0.2s;
  transform-style: preserve-3d;
}

.flipAnimationFlipped {
  transform: rotateY(180deg);
}
