@section css {
	<link rel="stylesheet" type="text/css" href="~/css/index.css" asp-append-version="true" />
}

@section scripts {
    <script src="~/js/index.js" asp-append-version="true"></script>
    <script src="~/js/user.js" asp-append-version="true"></script>
}

<div id="mainDiv" class="center newUser">
    <div class="newUser">Edit user</div><br />

    <div id="messageResults" class="userResults hidden"></div>

    <div>Username: <span id="username"></span></div><br />
    <div>Existing Password: <input type="password" id="existingPassword" /></div><br />
    <div>New Password: <input type="password" id="password" /></div><br />
    <div>Display Name: <input type="text" id="displayName" /></div>
    (this is displayed on an image as "Uploaded By:")
    <br /><br />
    <div><input type="button" id="editUserButton" value="Edit" /></div>
</div>
