@section css {
    <link href="https://unpkg.com/@@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/external/tagify.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" integrity="sha512-0SPWAwpC/17yYyZ/4HSllgaK7/gg9OlVozq8K7rf3J8LvCjYEEIfzzpnA2/SSjpGIunCSD18r3UhvDcu/xncWA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" type="text/css" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/upload.css" asp-append-version="true" />
}

@section scripts {
    <script src="https://unpkg.com/@@yaireo/tagify"></script>
    <script src="https://unpkg.com/@@yaireo/tagify@4.7.2/dist/tagify.polyfills.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js" integrity="sha512-ooSWpxJsiXe6t4+PPjCgYmVfr1NS5QXJACcR/FPpsdm6kqG1FmQ2SVyg2RXeVuCRBLr0lWHnWJP6Zs1Efvxzww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="~/js/index.js" asp-append-version="true"></script>
    <script src="~/js/upload.js" asp-append-version="true"></script>
}

<div id="mainDiv" class="center">
    <div id="uploadInputPanel" class="uploadInputPanel">
        <div id="messageResults" class="uploadResults imageInfoPanel hidden"></div>

        <div id="loginPanel" class="loginPanel hidden">
            <div class="inputPanelElement">
                <input type="button" id="loginButton" value="Login" /><br /><br />
                <a href="newuser">Create a new user</a>
            </div>
        </div>

        <div id="chooseImagePanel" class="chooseImagePanel hidden">
            <div class="uploadInstructions inputPanelElement">
                Choose an image from your computer or paste an image or URL.
                Images must be at least 1000px wide, so choose images that are large or high resolution.<br />
                <a target="_blank" href="https://www.google.com/search?q=sound%20of%20music%20movie&tbm=isch&hl=en&tbs=isz:l&sa=X&ved=0CAEQpwVqFwoTCPihvqPSz-4CFQAAAAAdAAAAABAC&biw=1519&bih=731">Example 'Large' image search</a>
            </div>
            <div id="imageFileDiv" class="imageFileDiv inputPanelElement">
                <input type="file" id="imageFile" class="imageFile hidden" accept="image/*" />
                <label for="imageFile" class="uploadButton">Image from computer</label> or
            </div>
            <div id="imageUrlDiv" class="imageUrlDiv inputPanelElement">
                <input type="text" id="imageUrl" class="imageUrl" autocomplete="off" placeholder="paste an image or url" />
            </div>
        </div>

        <div id="cropperInstructions" class="cropperInstructions inputPanelElement hidden">
            Select either 16x9 or 4x3 aspect ratio, then crop the image if needed. For most images it is best to use 16x9.
        </div>

        <div id="imageInfoPanel" class="imageInfoPanel hidden">
            <div class="inputPanelElement">
                Image Name: <span data-toggle="tooltip" title="This is the name displayed when an image is solved."></span><br />
                <input type="text" id="imageName" autocomplete="off" maxlength="100" />
            </div>

            <div class="inputPanelElement">
                Often there will be more than one answer for an image. The image name and these other names will all be accepted as correct answers.
            </div>

            <div class="imageAlternativeName">
                Other Names: <span data-toggle="tooltip" title="For example, for an image from 'Star Wars: The Empire Strikes Back', other names would include 'Star Wars: Episode 5' and 'The Empire Strikes Back.'"></span><br />
                <input type="text" id="imageAlternativeName1" autocomplete="off" maxlength="100" />
            </div>
            <div class="imageAlternativeName">
                <input type="text" id="imageAlternativeName2" autocomplete="off" maxlength="100" />
            </div>
            <div class="inputPanelElement">
                <input type="text" id="imageAlternativeName3" autocomplete="off" maxlength="100" />
            </div>

            <div id="tagsInputContainer" class="inputPanelElement">
                Tags: <span data-toggle="tooltip" title="Tags allow images to be filtered when creating games, to customize which types of images will be in the game."></span><input id="tagsInput" name="input-custom-dropdown" class="tagsInput tagsInputSetupDefault" />
            </div>
        </div>

        <div id="uploadButtonsContainer" class="inputPanelElement uploadButtonsContainer hidden">
            <input type="button" id="uploadStartOverButton" class="uploadButton" value="Start Over" />
            <input type="button" id="uploadActionButton" class="uploadButton" value="Action" />
        </div>
    </div>

    <div id="croppedImageInfo" class="croppedImageInfo center hidden">
        <div id="imageSizeContainer">
            Cropped Image Size:
            <span id="imageWidth" class="imageDimension imageWidth"></span> X <span id="imageHeight" class=" imageDimension imageHeight"></span>
        </div>
        <div>
            Aspect Ratio:
            <input type="button" id="16x9Button" class="aspectRatioButton" value="16x9" />
            <input type="button" id="4x3Button" class="aspectRatioButton" value="4x3" />
        </div>
        <div id="imageSizeError" class="uploadErrorMessage hideIfEmpty"></div>
    </div>

    <div id="cropperContainer" class="imageContainer center hidden" draggable="false"></div>
    <div id="imagePreviewContainer" class="imageContainer center hidden" draggable="false"></div>
    <div id="helpMessageContainer" class="helpMessageContainer center hidden" draggable="false">
        <div id="userWelcomeMessage" class="helpMessage">Welcome to the Picture Panels upload page!</div>
        <div id="uploadedByImages" class="thumbnailsContainer"></div>
    </div>
</div>

<div id="loading" class="loading hidden">
    <div id="loadingMessage" class="loadingMessage">Uploading image...</div>
    <img id="loadingGif" src="img/loading.gif" />
</div>

<partial name="~/Views/Common/LoggedInUser.cshtml" />
