/* stylelint-disable selector-class-pattern */
.teamGuess {
  position: absolute;
  box-sizing: border-box;
  padding: 3px;
  width: 100%;
  top: 7.5vh;
  font-weight: 500;
  font-size: 4vh;
  line-height: normal;
  z-index: 100;
  text-align: center;
}

.teamGuessChild {
  transition: opacity 1.5s ease-in;
}

.teamGuessReady {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.teamGuess span {
  position: relative;
  opacity: 0;
  animation: move-text 0.75s forwards;
}

.teamGuessIncorrect {
  text-decoration-color: rgba(255 0 0 / 70%);
  text-decoration-line: line-through;
  text-decoration-thickness: 5px;
}

@keyframes move-text {
  0% {
    bottom: -0.1em;
    opacity: 0.25;
  }

  50% {
    bottom: 0.1em;
    opacity: 1;
  }

  100% {
    bottom: 0;
    opacity: 1;
  }
}
