/* stylelint-disable selector-class-pattern */
.allPlayerDotsContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 8vh;
  width: 8vw;
  height: 92vh;
  font-size: 1.4rem;
}

.playerNameContainer {
  overflow: hidden;
  line-height: normal;
}

.playerDotsContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
  box-sizing: border-box;
}

.playerDotContainer {
  position: absolute;
  width: 4rem;
  height: 4rem;
  transition: transform 1s;
}

.teamOnePlayerDotsContainer {
  left: 0;
}

.teamTwoPlayerDotsContainer {
  right: 0;
}

.playerDot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}

.playerDot div {
  position: relative;
  color: black;
  text-align: center;
  font-size: 3vh;
  margin: auto;
  vertical-align: middle;
}
