/* stylelint-disable selector-class-pattern */
.endGameContainer {
  width: 83vw;
  margin-top: 2vh;
}

.endGameWinner {
  font-size: 7vh;
}

.endGameRounds {
  display: flex;
  flex-wrap: wrap;
}

.gameRound {
  width: 20%;
  box-sizing: border-box;
  padding: 1vh;
}

.gameRoundScoreContainer {
  display: flex;
  justify-content: space-around;
  margin: 1vh;
}

.gameRoundScore {
  font-size: 5vh;
  padding: 0 1vw;
  box-sizing: border-box;
}

.gameRoundScoreZero {
  border: 5px solid #444;
  background-color: #777;
}
