/* stylelint-disable selector-id-pattern */
/* stylelint-disable selector-class-pattern */
body.gameboard {
  overflow: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body.gameboard::-webkit-scrollbar {
  display: none;
}

#blackcover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  margin: 0;
  padding: 0;
  z-index: 1000;
  font-size: 3em;
  vertical-align: middle;
  text-align: center;
}

.loginContainer {
  margin-top: 6vh;
  font-size: 2.5vh;
  width: 60%;
}

.loginMessage {
  margin-top: 2.5vh;
}

.loggedInUser {
  margin-top: 2.5vh;
  font-size: 2.5vh;
}

.imageContainer {
  text-align: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 1vh;
  max-width: 83vw;
  max-height: 91vh;
  overflow: hidden;
}

.imageContainer img {
  object-fit: contain;
  object-position: 50% 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.endGameContainer {
  width: 83vw;
  margin-top: 2vh;
}

.endGameWinner {
  font-size: 7vh;
}

.endGameRounds {
  display: flex;
  flex-wrap: wrap;
}

.gameRound {
  width: 20%;
  box-sizing: border-box;
  padding: 1vh;
}

.gameRoundScoreContainer {
  display: flex;
  justify-content: space-around;
  margin: 1vh;
}

.gameRoundScore {
  font-size: 5vh;
  padding: 0 1vw;
  box-sizing: border-box;
}

.gameRoundScoreZero {
  opacity: 0;
}

.volume-chooser {
  background: #333;
  color: #dedede;
  padding: 5px;
  display: inline-block;
  position: fixed;
  top: 5px;
  left: 5px;
  z-index: 1000;
}

.volume-value {
  display: none;
}

.volume-control {
  position: absolute;
  display: none;
  top: 100%;
  border: 1px solid #aaa;
  background: #dedede;
  width: 40px;
  z-index: 1000;
}

.volume-control .volume {
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-appearance: slider-vertical;
  width: 35px;
  z-index: 1000;
}

.volume-chooser:hover .volume-control {
  display: block;
}

.volume-chooser:hover .volume-value {
  display: inline-block;
}

.pauseContainer {
  cursor: pointer;
  position: fixed;
  top: 5px;
  left: 70px;
  text-align: center;
  line-height: 1em;
  background: #333;
  padding: 5px;
  width: 75px;
}
