/* stylelint-disable selector-class-pattern */
.mostVotesPanel {
  position: absolute;
  transition: transform 1s;
}

.mostVotesPanel .panelImage {
  position: relative;
  width: 100%;
  vertical-align: bottom;
  z-index: 10;
}
