/* stylelint-disable selector-class-pattern */
.teamPlayerNames {
  position: absolute;
  top: 8vh;
  width: 8vw;
  height: 92vh;
  font-size: 1.4rem;
  z-index: 1000;
}

.teamPlayerNameContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
  box-sizing: border-box;
}

.teamOnePlayerNames {
  left: 0;
}

.teamTwoPlayerNames {
  right: 0;
}

.teamTwoPlayerNames .teamPlayerName {
  text-align: right;
}

.avatarContainer {
  height: 4rem;
  width: 4rem;
}

.avatarContainerTop {
  z-index: 1000;
}

.playerNameContainer {
  overflow: hidden;
}
