/* stylelint-disable property-no-vendor-prefix */
/* stylelint-disable selector-class-pattern */
.gameBoardSettingsDropdown {
  z-index: 2000;
}

.gameBoardSettingsDropdownButton {
  position: fixed;
  top: 5px;
  right: 0;
}
