/* stylelint-disable selector-pseudo-element-colon-notation */
/* stylelint-disable custom-property-pattern */
/* stylelint-disable selector-class-pattern */
.teamGuess {
  position: fixed;
  padding: 0 3px 7px;
  width: 50vw;
  font-weight: 500;
  z-index: 100;
  text-align: center;
  overflow: hidden;
  font-size: 6vh;
  border: 6px solid;
  border-image-slice: 1;
  box-sizing: border-box;
}

.teamGuessTeamOne {
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  top: 25vh;
  left: 8vw;
}

.teamGuessTeamTwo {
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  top: 65vh;
  right: 8vw;
}

.teamGuessCorrect {
  border-image-source: linear-gradient(to right, #4c0, #0f2);
}

.teamGuessIncorrect {
  text-decoration-color: rgba(255 0 0 / 75%);
  text-decoration-line: line-through;
  text-decoration-thickness: 1rem;
}

.teamGuessCorrectTeamOne {
  transition: font-size 1s, top 1s, left 1s, right 1s, width 1s;
  top: 8vh;
  width: 25vw;
  font-size: 3vh;
  left: 10vw;
}

.teamGuessCorrectTeamTwo {
  transition: font-size 1s, top 1s, left 1s, right 1s, width 1s;
  top: 8vh;
  right: 10vw;
  width: 25vw;
  font-size: 3vh;
}

.bothTeamsPass {
  position: absolute;
  text-align: center;
  padding: 1vmax 2vmax;
  white-space: nowrap;
  font-size: 4vmax;
  width: 36vw;
  top: 40vh;
  left: 32vw;
  z-index: 100;
  background: rgb(30 30 30);
  border: 6px solid;
  border-image-slice: 1;
  box-sizing: border-box;
  border-image-source: linear-gradient(to right, #4e4e4e, #373737);
}

.correctGuessPlayers {
  position: fixed;
  z-index: 1000;
  font-size: 3vh;
  padding: 0.25rem;
  width: 25vw;
  top: 20vh;
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
  justify-content: center;
}

.correctGuessPlayerAvatar {
  height: 4rem;
  width: 4rem;
}

.correctGuessPlayersTeamOne {
  left: 10vw;
}

.correctGuessPlayersTeamTwo {
  right: 10vw;
}
