body {
    font-size: 1.5em;
}

select {
    font-size: 1em;
}

#imageContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.imageInfo {
    width: 31vw;
    overflow: hidden;
    margin: 5px;
    border: 1px solid black;
}

.imageInfo img {
    max-width: 100%;
}

.imageInfoHidden .privateInfo {
    opacity: 0;
}

.actionLink {
    box-sizing: border-box;
    border: 2px solid dodgerblue;
    padding: 1px;
    margin: 2px;
    cursor: pointer;
}

.editImageMenu {
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    background-color: white;
    position: fixed;
    z-index: 10;
    margin: auto;
    top: 30vh;
    padding: 10px;
    border: 3px solid dodgerblue;
}

@media only screen and (min-width: 1000px) {
    body {
        font-size: 1.3em;
    }

    .imageInfo {
        width: 18vw;
    }
}
