html, body {
    -webkit-overflow-scrolling: touch !important;
    overflow: auto !important;
    height: 100% !important;
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}

body {
    font-size: 2em;
}

.buttonsFlex {
    width: 100%;
    display: flex;
}

.buttonsFlex * {
    flex: 1;
}

.tileButtons {
    position: inherit;
}

#goContainer {
    margin-bottom: 2vh;
}

.turnButtons {
    width: 80%;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.editTeamButtons {
    width: 60%;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.gameStatus {
    margin-top: 2vh;
    font-size: .6em;
}

.flexItem {
    text-align: center;
    flex: 1;
    width: 50vw;
}

.input-number {
    text-align: center;
    font-size: 1.3em;
}

.teamTurn {
    width: 7em;
}

.teamName {
    width: 50vw;
    text-align: center;
}

.plusMinus {
    padding: 3px;
    width: 3em;
    display: flex;
}

.plusMinusInput {
    flex: 1;
}

.plusMinusButton {
    background-color: rgb(239, 239, 239);
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
    flex: 1;
    box-sizing: border-box;
    display: flex;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.plusMinusButtonText {
    color: black;
    position: relative;
    z-index: 1000;
    font-size: 1em;
    user-select: none;
    font-weight: bold;
}

.plusMinusText {
    font-size: .7em;
    text-align: center;
    min-width: 0;
    flex-grow: 2;
}

.adminSelect {
    text-align: center;
    color: black;
    font-size: .9em;
    margin: 3px;
    min-width: 0;
}

.adminTeamSelect {
    width: 2em;
}

.adminButton {
    font-size: .6em;
    height: 2em;
    width: 5.5em;
    margin: 3px;
}

.adminInputText {
    text-align: center;
    color: black;
    font-size: 1em;
    margin: 3px;
    max-width: 80vw;
}

.adminInputTextNumber {
    width: 4em;
}

#imageNumber {
    margin: 3px;
}

#imageId {
    color: black;
    flex: 5;
    margin: 3px;
    min-width: 0;
    font-size: .9em;
}

#selectImageContainer  {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.selectImageButton {
    flex: 1;
    min-width: 0;
}

.chatsContainer {
    display:none;
}

@media only screen and (min-width: 1000px) {
    #mainDiv {
        width: 50vw;
    }

    .turnStatusContainer {
        width: 50vw;
    }

    .chat img {
        max-width: 40vw;
    }

    .tileButtons {
        width: 48vw;
    }

    .chatsContainer {
        display: flex;
        height: 100%;
        width: 50vw;
        position: absolute;
        top: 0;
        left: 50vw;
        flex-direction: column;
    }

    .adminMenu {
        left: 25%;
    }
}
