/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable property-no-vendor-prefix */
/* stylelint-disable selector-class-pattern */
/* stylelint-disable selector-id-pattern */
body {
  touch-action: manipulation;
  height: 100% !important;
  max-width: 100%;
  color: white;
  background-color: black;
  margin: 0;
  padding: 0;
}

#mainDiv {
  height: 100%;
  width: 100%;
  padding: 0;
}

a {
  color: lightblue;
}

a:visited {
  color: lightblue;
}

.noHighlights {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input:focus {
  outline: none;
}

.inline {
  display: inline;
}

.hideIfEmpty:empty {
  display: none !important;
}

.hidden {
  visibility: hidden;
}

.uppercase {
  text-transform: uppercase;
}

[data-toggle="tooltip"]::before {
  content: "\1f6c8";
}

.modal-header {
  color: black;
  font-size: 1.4rem;
}

.modal-body {
  color: black;
}

.bootbox-body {
  color: black;
  font-size: 1rem;
}

.toast-container {
  z-index: 100;
}

.center {
  text-align: center;
  margin: auto;
}

.tagsInput {
  font-size: 2vh;
}

.thumbnail {
  object-fit: contain;
  object-position: top;
  width: 100%;
}

input::placeholder,
textarea::placeholder {
  text-transform: lowercase;
  color: black;
  opacity: 0.5;
}

input:focus::placeholder,
textarea:focus::placeholder {
  text-transform: lowercase;
  color: black;
  opacity: 0.5;
}
