/* stylelint-disable selector-class-pattern */
.chooseTeamLabel {
  font-size: 2rem;
  margin-top: 8rem;
  margin-bottom: 4rem;
}

.chooseTeamName {
  width: 60%;
  font-size: 1.75em;
  padding: 4px;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.chooseSmallestTeam {
  width: 60%;
  margin-bottom: 6rem;
  color: black;
  background-color: white;
  box-sizing: border-box;
  border: 5px solid grey;
}
