/* stylelint-disable selector-class-pattern */

.choosePlayerAvatarContainer {
  display: flex;
  flex-direction: column;
  min-height: 0;
  height: 100%;
}

.choosePlayerAvatarLabel {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.colorOptionsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.IroWheel {
  margin: auto;
}

.colorPickerContainer {
  position: relative;
  padding-left: 2rem;
}

.randomizeContainer {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
}

.randomizeContainerSpin {
  transform: rotate(360deg);
  transition: transform 0.25s linear;
}

.randomizeContainer img {
  height: 100%;
  width: 100%;
}

.twoColorModeContainer {
  margin-left: 1rem;
  font-size: 1.25rem;
}

.twoColorModeContainer button {
  font-size: 1.25rem;
}

.swapColorsButtonContainer {
  margin-top: 1rem;
}

.playerAvatars {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.avatarChoice {
  width: 24%;
  height: 4rem;
  cursor: pointer;
  border: 3px solid black;
  box-sizing: border-box;
  text-align: center;
}

.selectedAvatar {
  border: 3px solid white;
}

.playerAvatarNextButton {
  flex: 0 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.playerAvatarNextButton button {
  font-size: 1.5rem;
}
