/* stylelint-disable selector-class-pattern */
.startGameButtonsContainer {
  margin-top: 8rem;
}

.startGameButton {
  font-size: 1.5rem;
}

.startGameTime {
  font-size: 1.5rem;
  margin-top: 1rem;
}
